/*
    * Autor: Marcos Henrique F. Marcone
    * Projeto7 - Instagram - React
    * Driven Turma 05 Grupo 06
*/

/* Fonte: Roboto */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

/* Aplicando o border-box em toda página */
* {
    box-sizing: border-box;
}

/* Comportamento para os botões */
button {
    background-color: white;
    border: 0px solid white;
    border-image-width: 0px;
    padding: 0px;
}

button:hover {
    cursor: pointer;    
}

/* Configurações dos links */
a {
    text-decoration: none;
    color: currentColor;
}

a:visited{
    color: currentColor;
}

/*Configurando a barra superior da página*/
.barra-superior {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 54px;

    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;

    display: flex;
    align-items: center;

    z-index: 1;
}

.barra-superior__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 935px;
    margin: 0 auto;
}

.barra-superior__nav ion-icon {
    width: 22px;
    height: 22px;
}

.logo-instagram {
    display: flex;
    align-items: center;
}

.logo-instagram ion-icon {
    padding-right: 10px;
    border-right: 1px solid #DBDBDB;
}

.logo-instagram img {
    width: 103px;
    height: 29px;

    padding-left: 10px;

    margin-top: 15px;
    margin-bottom: 10px;
}

.barra-de-pesquisa {
    width: 215px;
    height: 28px;

    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-de-pesquisa p {
    font-size: 12px;
    line-height: 14px;
    color: #979797;
}

.botoes-de-navegacao {
    margin-right: 9px;
}

.botoes-de-navegacao ion-icon {
    margin-left: 20px;
}

/*Conteúdo da Página */
.container {
    margin: 0 auto;
    margin-top: 88px;

    width: 935px;
    /*background-color: red;*/

    display: flex;
    justify-content: space-between;

    position: relative;
}

/* Configurando os Stories*/
.stories {
    width: 614px;
    height: 118px;

    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;

    display: flex;
    overflow: hidden;

    position: relative;

}

.stories ion-icon {
    fill: white;

    width: 32px;
    height: 32px;

    position: absolute;
    top: 43px;
    right: 6px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 12px;

}

.stories .story:first-child {
    margin-left: 18px;
}

.story-bg-img {
    position: relative;
    margin-top: 18px;
}

.story-background {
    width: 66px;
    height: 66px;

    border-radius: 33px;
}

.story-image {
    width: 56px;
    height: 56px;

    border-radius: 28px;

    position: absolute;
    top: 5px;
    left: 5px;

}

.story p {
    color: #262626;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 14px;
}

/* Configurando os Posts da página */

.posts {
    margin-top: 24px;
}

.post {
    width: 614px;
    margin-bottom: 60px;
}

/* Parte Superior */
.post-superior {
    background-color: #FFFFFF;

    height: 60px;

    border: 1px solid #DBDBDB;
    border-radius: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-logo {
    display: flex;
}

.post-logo img {
    width: 32px;
    height: 32px;

    border-radius: 16px;

    margin-left: 17px;
    margin-bottom: 13px;
    margin-top: 15px;
    margin-right: 15px;
}

.post-logo p {
    color: #262626;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    height: 21px;

    margin-bottom: 18px;
    margin-top: 21px;

    display: flex;
    align-items: center;


}

.post-mais-informacoes {
    height: 100%;
}
.post-mais-informacoes ion-icon {
    width: 16px;
    height: 16px;

    margin-top: 23px;
    margin-right: 17px;
    margin-bottom: 21px;
}

/* Imagem */
.post-imagem {
    width: 612px;
    height: 612px;
}

.post-imagem img {
    width: 612px;
    height: 612px;
}

/* Parte Inferior */

.post-inferior {
    background-color: #FFFFFF;
    height: 76px;

    border: 1px solid #DBDBDB;
    border-radius: 3px;

}

.post-icones {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.post-icones ion-icon {
    width: 22px;
    height: 22px;
}

.post-icones-interacoes ion-icon {
    margin-left: 13px;
}

.post-icone-salvar ion-icon {
    margin-right: 17px;
}

.post-informacoes {
    margin-top: 9px;
    margin-bottom: 13px;

    display: flex;
    align-items: center;
}

.post-informacoes img {
    width: 20px;
    height: 20px;

    border-radius: 10px;

    margin-left: 17px;
    margin-right: 5px;
}

.post-informacoes p {
    height: 21px;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;

    color: black;

}

.post-informacoes span {
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
}

/* Sidebar */
.sidebar {
    width: 293px;
    left: 640px;

    align-self: flex-start;
    position: sticky;
    top: 88px;
}

/* Perfil */
.perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 23px;
}

.perfil img {
    width: 56px;
    height: 56px;

    border-radius: 28px;
}

.perfil-identificao {
    margin-left: 17px;
}

.perfil-identificao strong {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #262626;

}

.perfil-identificao small {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #8E8E8E;

}

/* Segestões */
.sugestoes-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
}

.sugestoes-strong {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #262626;
}

.sugestoes-small {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #8E8E8E;
}

.sugestao {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 17px;
}

.sugestao-perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sugestao-perfil img {
    width: 32px;
    height: 32px;

    border-radius: 16px;
}

.sugestao-perfil-identificao {
    margin-left: 11px;
}

.sugestao p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #139EF2;
}

.info-extras {
    font-size: 11px;
    line-height: 13px;

    color: #C7C7C7;

    margin-top: 33px;
}

.copyright {
    font-size: 11px;
    line-height: 13px;

    color: #C7C7C7;

    margin-top: 18px;
}

/* Barra Final */
.barra-final {
    

    display: none;
}

.barra-final ion-icon {
    width: 22px;
    height: 22px;
}

.barra-final ion-icon:first-child {
    margin-left: 20px;
}

.barra-final ion-icon:last-child {
    margin-right: 20px;
}

/* Responsividade para páginas com menos de 935px de largura */
@media (max-width: 935px) {
    .sidebar {
        display: none;
    }

    .container {
        width: 614px;
    }

    .barra-superior__nav {
        width: 100%;
    }

    .logo-instagram {
        margin-left: 20px;
    }

    .botoes-de-navegacao {
        margin-right: 19px;
    }
}

/* Responsividade para mobile: páginas com menos de 614px de largura */
@media (max-width: 614px) {
    .barra-superior {
        width: 100vw;
    }

    .barra-superior__nav {
        width: 100vw;
    }

    .barra-de-pesquisa, .botoes-de-navegacao button:nth-child(2), 
    .botoes-de-navegacao button:nth-child(3), 
    .botoes-de-navegacao button:nth-child(4) {
        display: none;
    }

    .botoes-de-navegacao ion-icon:first-child {
        margin-left: 0px;
    }

    .botoes-de-navegacao {
        margin-right: 20px;
    }

    .logo-instagram ion-icon {
        padding-right: 0px;
        border-right: 0px;
    }

    .logo-instagram img {
        width: 103px;
        height: 29px;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        margin: 0px;
    }

    /*Conteúdo da Página */
    .container {
        margin: 0 auto;
        margin-top: 54px;

        width: 100vw;
        position: relative;
    }

    /* Configurando os Stories*/
    .stories {
        width: 100vw;
        height: 118px;

        background-color: #E5E5E5;
        border: 0px;
        border-radius: 0px;

    }

    .stories ion-icon {
        display: none;
    }


    /* Posts */
    .posts {
        margin-top: 0px;
    }

    .post {
        width: 100vw;
    }

    /* Imagem */
    .post-imagem {
        width: 100%;
    }

    .post-imagem img {
        width: 100%;
    }

    /*Barra Final */
    .barra-final {
        width: 100%;
        height: 54px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color:#FFFFFF;
        border: 1px solid #DBDBDB;

        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 1;
    }
}